*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.log

analytics/analytics_feature/build/generated/source/buildConfig/debug/com/plcoding/analytics/analytics_feature/BuildConfig.java

analytics/analytics_feature/build/intermediates/aapt_proguard_file/debug/processDebugResources/aapt_rules.txt

analytics/analytics_feature/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json

analytics/analytics_feature/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/processDebugResources/R.jar

analytics/analytics_feature/build/intermediates/dex_archive_input_jar_hashes/debug/dexBuilderDebug/out

analytics/analytics_feature/build/intermediates/dex_number_of_buckets_file/debug/dexBuilderDebug/out

analytics/analytics_feature/build/intermediates/dex/debug/mergeLibDexDebug/0/classes.dex

analytics/analytics_feature/build/intermediates/dex/debug/mergeProjectDexDebug/0/classes.dex

analytics/analytics_feature/build/intermediates/dex/debug/mergeProjectDexDebug/8/classes.dex

analytics/analytics_feature/build/intermediates/incremental/debug-mergeJavaRes/merge-state

analytics/analytics_feature/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Za1Xw9MlXXnQbQt4HwqarJ_c\+CM=

analytics/analytics_feature/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties

analytics/analytics_feature/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties

analytics/analytics_feature/build/intermediates/linked_resources_binary_format/debug/processDebugResources/linked-resources-binary-format.ap_

analytics/analytics_feature/build/intermediates/linked_resources_binary_format/debug/processDebugResources/output-metadata.json

analytics/analytics_feature/build/intermediates/linked_resources_for_bundle_proto_format/debug/bundleDebugResources/feature-analytics_feature.ap_

analytics/analytics_feature/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt

analytics/analytics_feature/build/intermediates/manifest_merge_blame_file/debug/processDebugMainManifest/manifest-merger-blame-debug-report.txt

analytics/analytics_feature/build/intermediates/merged_java_res/debug/mergeDebugJavaResource/feature-analytics_feature.jar

analytics/analytics_feature/build/intermediates/merged_manifests/debug/copyDebugMergedManifest/output-metadata.json

analytics/analytics_feature/build/intermediates/metadata_feature_declaration/debug/featureDebugWriter/out/feature-split.json

analytics/analytics_feature/build/intermediates/module_bundle/debug/buildDebugPreBundle/analytics_feature.zip

analytics/analytics_feature/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json

analytics/analytics_feature/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt

analytics/analytics_feature/build/intermediates/packaged_dependencies/debug/generateDebugFeatureTransitiveDeps/deps.txt

analytics/analytics_feature/build/intermediates/packaged_manifests/debug/processDebugManifestForPackage/output-metadata.json

analytics/analytics_feature/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/bce058e8e4d96cedc82091a03d492eb9e763c77746db6db083634b617048d85c_2.jar

analytics/analytics_feature/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/bce058e8e4d96cedc82091a03d492eb9e763c77746db6db083634b617048d85c_3.jar

analytics/analytics_feature/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/plcoding/analytics/analytics_feature/BuildConfig.dex

analytics/analytics_feature/build/intermediates/runtime_symbol_list/debug/processDebugResources/R.txt

analytics/analytics_feature/build/intermediates/source_set_path_map/debug/mapDebugSourceSetPaths/file-map.txt

analytics/analytics_feature/build/intermediates/stable_resource_ids_file/debug/processDebugResources/stableIds.txt

analytics/analytics_feature/build/intermediates/symbol_list_with_package_name/debug/processDebugResources/package-aware-r.txt

analytics/analytics_feature/build/outputs/logs/manifest-merger-debug-report.txt
